@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BIBLIOTECA</h1>
    <p>Aceasta aplicatie web este destinata gestiunii unei biblioteci</p>
</div>
